.banner-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
.section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
}
.section-left{
    padding: 60px 80px;
}
.section-right{
    overflow: hidden;
}
.text-content h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: var(--tertiary-color);
    letter-spacing: -0.005em;
    line-height: 100%;
}
.text-content h1 span{
    color: var(--secondary-color);
}
.text-content p{
    font-size: 1rem;
    margin: 20px 0;
    color: var(--tertiary-color);
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.05em;
    margin-bottom: 40px;
}

 .image-content{
    width: 100%;
    height: 100%;
}
.image-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.section-right {
    gap: 40px;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 0;
}

.action-button {
  display: inline-flex;
    align-items: center;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
.action-button span{
    display: inline-block;
}
.discover-button {
  background-color: var(--secondary-color); /* Earthy brown for Indigenous aesthetic */
  color: var(--accent-color);
}

.discover-button:hover {
  background-color: var(--tertiary-color);
  transform: scale(1.05);
}

.quote-button {
  background-color: var(--primary-color); /* Dark neutral for contrast */
  color: var(--secondary-color);
}

.quote-button:hover {
  background-color: var(--tertiary-color);
  color: #fff;
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .banner-container {
    padding: 15px; /* Reduce padding on tablets */
    flex-direction: column-reverse; /* Stack sections vertically */
    gap: 20px;
    height: 100%;
  }

  .section {
    width: 100%; /* Full width for both sections */
    height: auto; /* Remove fixed height */
  }

  .section-left {
    padding: 40px 20px; /* Reduce padding */
  }

  .section-right {
    height: 300px; /* Set a reasonable height for images */
  }
}
@media (max-width: 568px) {
  .text-content h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
}
.text-content p{
    font-size: .7rem;
}
.button-container {
    flex-direction: column-reverse;
    align-items: center;
}
.action-button {
    width: 100%;
    justify-content: center;
    padding: 12px 20px;
    font-size: 0.875rem;
}
}