.who-we-are-container {
  padding: 60px 80px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  max-width: 1200px;
}

.who-we-are-title {
color: var(--primary-color);
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin-bottom: 60px;
}

.aboutSection {
  margin-bottom: 40px;
}

.section-title{
  font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    white-space: wrap;
    color: var(--secondary-color);
    letter-spacing: -0.005em;
    line-height: 100%;
    margin-bottom: 30px;
}

.aboutSection p {
   font-size: 1rem;
    color: var(--tertiary-color);
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.05em;
    padding: 10px 0;
}
.AboutlogoGrid {
display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 40px 0;
}
.logo {
  width: 120px;
  height: 80px;
  object-fit: contain;
  border-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
    background-color: transparent;
}