

/* styles/globals.css */
:root {
  --primary-color: #ffffff; /* Define your variable */
  --accent-color: #fff;
  --tertiary-color: #080402;
    --secondary-color: #352c86;
    --sub-primary: #00A2e4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}